 {{#each illinois}}

<div class='row parish'>

    <div class="parishPic col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img class='parishPic' src='./images/bvm.jpg'>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h3 class='parishName'> {{name}} </h3>
    </div>
    {{state}} {{name}} {{address}} {{priest}} {{cityState}} {{founded}} {{website}} {{manager}} {{phone}} {{photoUrl}}
</div>

{{/each}}